<div class="jumbotron text-center">
      <div class="container">
          <h1>Welcome to The Game Review Website!</h1>
          <p>This is a forum for gamers that wants to review games that they have played. Other people can see reviews about the games that they want to play.</p>
      </div>
  </div>
<h3>Top games</h3>
<div class="grid grid-pad">
  <a *ngFor="let game of games" class="col-1-4"
      routerLink="/detail/{{game.id}}">
    <div class="module game">
      <h4>{{game.title}}</h4>
    </div>
  </a>
</div>
